.list {
  list-style-type: none;
  display: flex;
  gap: 0 1.6rem;
  margin: 4rem auto 0;
  width: 80%;
  border-bottom: 1px solid #cbd5e1;
}
@media screen and (max-width: 640px) {
  .list {
    width: 90%;
  }
}

.item {
  cursor: pointer;
  margin-top: -1px;
  padding: 1.6rem 0.4rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  color: #64748b;
}

.isCurrent {
  color: #14b8a6;
  border-bottom: 2px solid #14b8a6;
}
